services:
  backend:
    build: .
    container_name: guesthouse-backend
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
