services:
  backend:
    build: .
    container_name: guesthouse-backend
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - mysql_default

networks:
  mysql_default:
    external: true
